* {
    margin: 0;
    padding: 0;
}


html {
    background: #121316;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

/*
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
          Main Page
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
 */
#resume {
    display: none;
    justify-content: center;
    align-items: center;
}

.resume-page {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.resume-page > h2 {
    display: flex;
    align-items: center;
    padding-top: 100px;
    font-size: 3rem;
}

.resume-page > p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.resume-page > p.half-column {
    width: 50%;
}
